#cursor {
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: white; 
	}
}

.contact-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./img/bg2.jpg');
}

.scroll-container {
  scroll-behavior: smooth;
  height: 100vh;
} 


.name  {
  text-shadow: 4px 4px 20px #000;
}

.name1 {
  text-shadow: 4px 4px 10px #000;
}
