#cursor {
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: white; 
	}
}

.scroll-container {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
} 

.name  {
  text-shadow: 4px 4px 20px #000;
}

.name1 {
  text-shadow: 4px 4px 10px #000;
}
 
/* .scroll-container > div {
  scroll-snap-align: start;
  display: flex;
  height: 100vh;
}  */